
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: grey;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/077a0265-e99d-4ae9-9b15-e4d30d17f76f/dfdqxci-6edac649-0327-4699-8952-87830d437b8c.png/v1/fill/w_1192,h_670,strp/background_by_eliariellis_dfdqxci-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvMDc3YTAyNjUtZTk5ZC00YWU5LTliMTUtZTRkMzBkMTdmNzZmXC9kZmRxeGNpLTZlZGFjNjQ5LTAzMjctNDY5OS04OTUyLTg3ODMwZDQzN2I4Yy5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.o8v7DyTcRBL2S8wR7wDIpfdJAsCI4FrXD4p7CzMIjMM');
}
.horizontalList{
    text-align: center;
  }
  
  .horizontalList li{
    display: inline;
    padding: 20px;
    margin: 0 auto;
    position: center;
    align: center;
    text-align: center;
    
  }
  body{font-family:'Lucida Sans';
}

